.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    /* margin: 25px; */
    margin: 50px 50px;
}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
}

@media screen and (max-width:1400px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btn-review-order {
    width: 160px;
    border: 0;
    background-color: goldenrod;
    color: white;
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-review-order:hover {
    background-color: rgb(124, 197, 15);
    color: #000;
}